<div class="row home--top">
    <section>
        <div class="col-xs-12">
            <span class="home--top-header">A Short Film Competition for Portland's Local Filmmakers</span>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4">
            <a href="https://curiouscomedy.org/" target="_blank"><img class="logo" src="https://curiouscomedy.org/wp-content/uploads/curious-comedy-theater-logo-2.png" alt="Curious Comedy Theater" ></a>
        </div>
        <div class="col-md-10 col-sm-8 col-xs-8">
            <a href="https://curiouscomedy.org/" target="_blank" class="home--top-cc"> <i class="fas fa-play"></i> A Curious Comedy Event</a>
        </div>
    </section>
</div>

<div class="row ">
    <div class="col-md-8 home--top">
        <div class="col-md-12 video--label">
            Portland's Funniest Video Winner
        </div>
        <div class="col-md-12">
            <div class="flex-video widescreen"> 
                <iframe width="560" height="315" src="https://www.youtube.com/embed/H8YwGdcBArE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>
        </div>
        <div class="col-md-12">
            <div class="video--info">
                <strong> PORTLAND’S FUNNIEST VIDEOS </strong> ain’t just another LAUGH ‘TIL YOU WET YOUR PANTS kinda evening.
        No, it’s much more than that. It’s a comedic, short-film competition EVERY DAMN MONTH at Curious Comedy Theater. <br><br>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <section>
            <div class="home--top-dates">

                
                <a href="<%= @event.facebook %>" target="_blank" class="home--top-screening"> <i class="far fa-calendar"></i> Next screening : <%= @event.eventdate %> </a>
                <a href="/submissions/new" class="home--top-deadline"><i class="fas fa-clock"></i> Submit By : <%= @event.deadline %> </a>
                <a href="<%= @event.ticket %>" target="_blank" class="home--top-tickets"><i class="fas fa-ticket-alt"></i> Buy Tickets</a>
            </div>
        </section>
        <div class="row">
            <% if logged_in? %>
                <%= render 'shared/user_info' %>
            <% else %>
                <%= render '/sessions/login_form' %>
            <% end %>
        </div>
    </div>
    
</div>