<h1>Portland's Funniest Video New Submission</h1>

<p><%= @submission.user.name %> submitted : <%= @submission.title %> </p>
<p>Submission Link : <%= @submission.link %></p>
<p>Password : <%= @submission.password %> </p>
<p>Length : <%= @submission.length %> </p>
<p>Synopsis : <%= @submission.description %> </p>

<p>
 <%= link_to "See Submission here", @submission %>
</p>

