<!--NAME-->
<div class="row">
   <!--RIGHT DETAILS-->
   <div class="col-md-8 col-md-offset-1">
       <!--NAME-->
       <div class="row text-left">
          <p>Name: <%= link_to user.name, user %></p> 
       </div>
       <div class="row">
           <p>Email: <%= mail_to user.email %></p>
           <p>Submission #:  <%= user.submissions.count %></p>
           
           
           <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "Delete user", user, method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn btn-danger" %>
            <%= link_to "Edit User", user, class: "btn btn-info" %>
                                  
            
           <% end %>
            
       </div>
       
   </div>
       <!--LEFT PICUTRE-->
   <div class="col-md-3">
      <%= gravatar_for user, size: 100 %> 
   </div>
</div>
<div class="row text-center">
          <% if user.activated? %>
               Member for <%= time_ago_in_words(user.created_at) %>
        <% else %>
               Not Yet Activated
       <% end %>
</div>