
<div class="row">
    
    <div class="col-md-4"><strong><%= user.id %> : <%= gravatar_for user, size: 30 %><%= link_to user.name, user %></strong></div>    
    <div class="col-md-4"><strong><%= user.email %></strong></div>
    <div class="col-md-4"><strong> Subs # <%= user.submissions.count %> | Joined : <%= time_ago_in_words(user.created_at) %></strong></div>
 
     
</div>    
<hr></hr>

