<%= link_to user do %>
<li>
  <%= gravatar_for user, size: 50 %>
 Name: <%= user.name %> </br>
 Submission #:  <%= user.submissions.count %></br>
 A Member for <%= time_ago_in_words(user.created_at) %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>

</li>
<%end%>