
<div class="row">
    <p>
        <div class="col-md-4"><span class="user--list-items"><%= gravatar_for user, size: 30 %><%= link_to user.name, user %></span></div>    
        <div class="col-md-4"><span class="user--list-items"><%= user.email %></span></div>
        <div class="col-md-4"><span class="user--list-items">Subs # <%= user.submissions.count %> | Joined : <%= time_ago_in_words(user.created_at) %></span></div>
    </p>
</div>    


