<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
         A Member for <%= time_ago_in_words(current_user.created_at) %>
    </section>
  </aside>
  <div class="col-md-8">
    
    <% if @submissions.any? %>
      <h3 class='text-center'>Submissions (<%= @submissions.count %>)</h3>
      <ol class="microposts">
        <%= render @submissions %>
      </ol>
      <%= will_paginate @submissions %>
      <div class="row">
        <%= link_to "Submit Video", new_submission_path, class: "btn btn-primary btn-lg btn-block" %>
      </div>
    <% else %>
      <h3 class= "text-center">Submissions</h3>
      <div class="well text-center">
        <h4> You Have No Submissions Yet </h4>

      </div>  
    <% end %>
  </div>

</div>