

<div class="row">
  <div class="col-md-4">
    <%= gravatar_for @user %>
    <h3>
      <%= @user.name %>
    </h3>
    A Member for <%= time_ago_in_words(@user.created_at) %></br>
 
  </div>
  <div class="col-md-4 top-bump">
    <%= link_to "Submit A Video", new_submission_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>

</div><!--END ROW-->
<div class="row">
  
    <% if @submissions.any? %>
      <h3 class='text-center'>Submissions (<%= @submissions.count %>)</h3>
      <ol class="microposts">
        <%= render @submissions %>
      </ol>
      <%= will_paginate @submissions %>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= link_to "Submit A Video", new_submission_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
        
      </div>
    <% else %>
      <h3 class= "text-center">Submissions</h3>
      <div class="well text-center">
        <h4> You Have No Submissions Yet </h4>

      </div>  
    <% end %>
</div>

