
<div class="row admin">
    <!--ALL USERS-->
    <div class="col-sm-2 col-sm-offset-2 top-bump">
      <%= link_to "Users", users_path, class: "btn btn-primary btn-block" %>  
    </div>
    
    <!--NEW SUBMISSIONS-->
    <div class="col-sm-2 top-bump">
        <p> <%= link_to "New Submissions", submissions_path, class: "btn btn-danger btn-block" %></p>
    </div>
    
    <!--All Submissions-->
    <div class="col-sm-2 top-bump">
        <p> <%= link_to "All Submissions", static_pages_all_path, class: "btn btn-warning btn-block" %></p>
    </div>
    
    <!--APPROVED SUBMISSION-->
    <div class="col-sm-2 top-bump">
       
            <div class="dropdown">
                <button class="btn btn-success btn-block dropdown-toggle" type="button" data-toggle="dropdown">Approved
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "01 October", static_pages_approved_month_path(:month => 'October') %></li>
                    <li><%= link_to "02 November", static_pages_approved_month_path(:month => 'November') %></li>
                    <li><%= link_to "03 December", static_pages_approved_month_path(:month => 'December') %></li>
                    <li><%= link_to "04 January", static_pages_approved_month_path(:month => 'January') %></li>
                    <li><%= link_to "05 February", static_pages_approved_month_path(:month => 'February') %></li>
                    <li class="admin--best-of"><%= link_to "06 March | Best" , static_pages_approved_month_path(:month => 'March') %></li>
                    <li><%= link_to "07 April", static_pages_approved_month_path(:month => 'April') %></li>
                    <li><%= link_to "08 May", static_pages_approved_month_path(:month => 'May') %></li>
                    <li><%= link_to "09 Jun", static_pages_approved_month_path(:month => 'Jun') %></li>
                    <li><%= link_to "10 July", static_pages_approved_month_path(:month => 'July') %></li>
                    <li><%= link_to "11 August", static_pages_approved_month_path(:month => 'August') %></li>
                    <li class="admin--best-of"><%= link_to "12 September | Best", static_pages_approved_month_path(:month => 'September') %></li>
                    <li><%= link_to "Rejected", static_pages_approved_month_path(:month => 'Rejected') %></li>
                    <li><%= link_to "Archive", static_pages_approved_month_path(:month => 'Archive') %></li>
                  </ul>
            </div> 
    </div>
       
</div>
    