
<div class="row admin">
    <!--ALL USERS-->
    <div class="col-sm-2 col-sm-offset-1 top-bump">
      <p> <%= link_to "Users", users_path, class: "btn btn-primary btn-block" %>  </p>
    </div>
    
    <!--ALL SUBMISSIONS-->
    <div class="col-sm-2 top-bump">
        <p> <%= link_to "New Submissions", submissions_path, class: "btn btn-danger btn-block" %></p>
    </div>
    
    <!--APPROVED SUBMISSION-->
    <div class="col-sm-2 top-bump">
       
            <div class="dropdown">
                <button class="btn btn-success btn-block dropdown-toggle" type="button" data-toggle="dropdown">Approved
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "All", static_pages_approved_index_path, class: "" %></li>
                    <li><%= link_to "October", static_pages_approved_month_path(:month => 'October') %></li>
                    <li><%= link_to "November", static_pages_approved_month_path(:month => 'November') %></li>
                    <li><%= link_to "December", static_pages_approved_month_path(:month => 'December') %></li>
                    <li><%= link_to "January", static_pages_approved_month_path(:month => 'January') %></li>
                    <li><%= link_to "February", static_pages_approved_month_path(:month => 'February') %></li>
                    <li><%= link_to "March", static_pages_approved_month_path(:month => 'March') %></li>
                  </ul>
            </div> 
    </div>
    
    <!--ARCHIVE-->
    <div class="col-sm-2 top-bump">
        <p> <%= link_to "Archive", static_pages_archive_path, class: "btn btn-warning btn-block" %></p>
    </div>
    
    <!--All Submissions-->
    <div class="col-sm-2 top-bump">
        <p> <%= link_to "All Submissions", static_pages_all_path, class: "btn btn-primary btn-block" %></p>
    </div>
       
</div>
    