<% if current_user.admin? %>
<div class="col-md-8">
    <h2 class= "text-center">Approved (<%= @approval.count %>)</h2>
</div>
<div class="col-md-4">
    <h3 class= "text-center">Total Time <%= @runtime %></h3>
</div>
  <%= will_paginate @approval, class: "text-center" %>
  <ul class="users">
    <% @approval.each do |accept| %>
      <%= render accept %>
    <% end %>
  </ul>
  <%= will_paginate @approval, class: "text-center" %>
<% else %>
  <h3>You do not have permission to view this page</h3>
<% end %>