<div class="row home--top">
    <section>
        <div class="col-xs-12">
            <span class="home--top-header">A Short Film Competition for Portland's Local Filmmakers</span>
        </div>
        <div class="col-md-1 col-xs-4">
            <a href="https://curiouscomedy.org/" target="_blank"><img class="logo" src="http://curiouscomedy.org/images/logo.png" alt="Curious Comedy Theater" ></a>
        </div>
        <div class="col-md-10 col-xs-8">
            <a href="https://curiouscomedy.org/" target="_blank" class="home--top-cc"> <i class="fas fa-play"></i> A Curious Comedy Event</a>
        </div>
    </section>
</div>

<div class="row ">
    <div class="col-md-8 home--top">
        <div class="col-md-12 video--label">
            The Funniest video
        </div>
        <div class="col-md-12">
            <div class="flex-video widescreen"> 
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OOmIcigpxHE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>
        </div>
        <div class="col-md-12">
            <div class="video--info">
                <strong> PORTLAND’S FUNNIEST VIDEOS </strong> ain’t just another LAUGH ‘TIL YOU WET YOUR PANTS kinda evening.
        No, it’s much more than that. It’s a comedic, short-film competition EVERY DAMN MONTH at Curious Comedy Theater. <br><br>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <section>
            <div class="home--top-dates">

                
                <a href="https://www.facebook.com/events/219120532365948/" target="_blank" class="home--top-screening"> <i class="far fa-calendar"></i> Next screening : February 20th</a>
                <a href="/submissions/new" class="home--top-deadline"><i class="fas fa-clock"></i> Submit By : February 18th</a>
                <a href="https://curiouscomedy.org/events/2019/02/20/1824-portland%2527s-funniest-videos" target="_blank" class="home--top-tickets"><i class="fas fa-ticket-alt"></i> Buy Tickets</a>
            </div>
        </section>
        <div class="row">
            <% if logged_in? %>
                <%= render 'shared/user_info' %>
            <% else %>
                <%= render '/sessions/login_form' %>
            <% end %>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="video--first-place"><i class="fas fa-award"></i> First Place winners</div>

    <% @first.each do |first| %>
        <div class="col-md-4">
            <%= render "shared/player", submission: first %>
        </div>
    <%end%>

</div>
<div class="row">
    <span class="video--award-button"><%= link_to "All 1st Winners", static_pages_awards_path(:category => 'First Place', :place => '1st') %></span>
</div>


<div class=row>
    <div class="video--first-place">Second Place winners</div>
    <% @second.each do |second| %>
        <div class="col-md-4">
            <%= render "shared/player", submission: second %>
        </div>
    <%end%>

</div>
<div class="row">
    <span class="video--award-button"><%= link_to "All 2nd Winners", static_pages_awards_path(:category => 'Second Place', :place => '2nd') %></span>
</div>

<div class="row">
    <div class="video--first-place">Third Place Place winners</div>
    <% @third.each do |third| %>
        <div class="col-md-4">
            <%= render "shared/player", submission: third %>
        </div>
    <%end%>

</div>
<div class="row">
    <span class="video--award-button"><%= link_to "All 3rd Winners", static_pages_awards_path(:category => 'Second Place', :place => '2nd') %></span>

</div>

