  <div class="col-md-12 col-md-offset-0 home--login-top">
    <spam class="home--login-top--label text-center"><i class="fas fa-user"></i> Submit a Film</spam>
  </div>

<div class="col-md-12 col-md-offset-0 home--login">
  <%= form_for(@submit) do |f| %>
    <div class="form-group">
    <%= render 'shared/error_messages', object: f.object %>
    <!--TITLE-->
    <div class="row">
      <div class="col-md-12 text-left">
        <%= f.label :title, "Title" %>
      </div>
      <div class="col-md-12">
        <%= f.text_field :title, class: 'form-control' %>  
      </div>
    </div>
    
    <!--RUN TIME-->
    <div class="row">
      <div class="col-md-12 text-left">
          <%= f.label :length, "Runtime " %>
      </div>
      <div class="col-md-4">
          <%= f.select :length, ['1','2','3','4','5','6', '7','8','9','10'], class: 'form-control' %>  <span class="pad-left">Round up.</span>
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
    <!--LINK-->
    <div class="row">
      <div class="col-md-12 text-left">
          <%= f.label :link, "Link" %>
      </div>
      <div class="col-md-12">
          <%= f.text_field :link, class: 'form-control', placeholder: 'Youtube or Vimeo links onlys' %>
      </div>
    </div>
    
    <!--VIMEO PASSWORD-->
    <div class="row">
      <div class="col-md-12 text-left">
          <%= f.label :password, "Password", placeholder: "If vimeo link is password protected" %>
      </div>
      <div class="col-md-12">
          <%= f.text_field :password, class: 'form-control', placeholder: 'If link is password protected.' %>
      </div>
    </div>
    
    <!--DESCRIPTION-->
    <div class="row">
      <div class="col-md-12  text-left">
          <%= f.label :description, "Synopsis" %>
      </div>
      <div class="col-md-12">
          <%= f.text_area :description, class: 'form-control', rows: '4', placeholder: "Tell us about your film in 200 characters." %>
      </div>
    </div>
    <br>
    <!--PREFERRED MONTH-->
    <div class="row">
      <div class="col-md-12 text-left">
          <%= f.label :preferred_month, "Preferred Month " %>
      </div>
      <div class="col-md-2">
          <%= f.select :preferred_month, ['Any Month', 'October','November','December','January','February','March'], class: 'form-control' %>  
  
      </div>
      <div class="col-md-7 col-md-offset-1  text-left">
        Prefered month to have this submission play?
      </div>
    </div>
    <br>
    <!--REUSE-->
    <div class="row">
      <div class="col-xs-3 col-md-offset-0 text-left">
        <%= f.label :reuse, "Allow replays", class: "form-check-label text-right" %>
      </div>
      <div class="col-xs-9">
        <%= f.check_box :reuse, {:checked=> "checked"}%> 
        <span class="pad-left">Can we replay this film at other events.</span>
      </div>
    </div> 
        <br></br>
    <!--HAS RIGHTS-->
    <div class="row">
      <div class="col-xs-3 text-left">
        <%= f.label :has_rights, "All Rights", class: "form-check-label text-right" %>
      </div>
      <div class="col-xs-9">
        <%= f.check_box :has_rights %> 
        <span class="pad-left">You have the all rights to play this video.</span>
      </div>
          
    </div> 
        <br></br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 top-bump">
          <%= f.submit "Submit", class: "btn btn-primary btn-lg btn-block" %>
      </div>
      
    </div>
  
  
    </div>
  <% end %>
</div>
