<div class="row submit-edit">
  <div class="col-md-8 col-md-offset-2">
    
    <%= form_for(@submission) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <% if current_user.admin? %>
        <div class="submit-edit--admin">
          <div class="row">
            <div class="submit-edit--title-bar">
                <h3 class="submit-edit--title">Admin Board</h3>
            </div>

            <div class="col-sm-3 ">
              <%= f.label :contact, "Contact Notes" %>
            </div>
            <div class="col-sm-9 submit-edit--input" >
              <%= f.text_field :contact, class: '', placeholder: "Any needed notes about person or submission" %>
            </div>

            <div class="col-sm-3 ">
              <%= f.label :status, "Status" %> 
            </div>
            <div class="col-sm-9">
              <%= f.select :status, ['Being Reviewed', 'October','November','December','January','February','March', 'April','May', 'June', 'July', 'August', 'September', 'Oct2019', 'Nov2019', 'Dec2019'], class: 'submit-edit--form-text' %>  
            </div>
              
            <div class="col-sm-3 ">
              <%= f.label :reason %>
            </div>
            <div class="col-sm-9">
              <%= f.text_field :reason, class: '' %>
            </div>
              
            <div class="col-sm-3 ">
              <%= f.label :contact, "Archived" %>
            </div>
            <div class="col-sm-9">
              <%= f.select :archive, ['true', 'false' ]  %>
            </div>
          
            <div class="col-sm-3  submit-edit--winner">
              <%= f.label :winning_month, "Winning Month" %>
            </div>
            <div class="col-sm-9">
              <%= f.select :winning_month, ['none','October','November','December','January','February','March','April','May', 'June', 'July', 'August', 'September', 'Oct2019', 'Nov2019', 'Dec2019'], class: '' %>
            </div>
          
            <div class="col-sm-3  submit-edit--winner">
              <%= f.label :winning_place, "Winning Place" %>
            </div>
            <div class="col-sm-9">
              <%= f.select :winning_place,['none','1st','2nd','3rd'], class: '' %>
            </div>
              
            <div class="col-sm-3  submit-edit--best">
              <%= f.label :best_of_month, "Best of Month" %>
            </div>
            <div class="col-sm-9">
              <%= f.select :best_of_month, ['none','March','September'], class: '', placeholder: "best way to get in touch" %>
            </div>

            <div class="col-sm-3  submit-edit--best">
              <%= f.label :best_of_award, "Best of Award" %>
            </div>
            <div class="col-sm-9">
              <%= f.text_field :best_of_award, class: '', placeholder: "best way to get in touch" %>
            </div>
          </div>
        </div>
   
      <%end%>
      
      <div class="row">
      <div class="col-sm-3 ">
        <%= f.label :title, "Title" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :title, class: '' %>
      </div>
    
      <div class="col-sm-3 ">
        <%= f.label :length, "Runtime" %>
      </div>
      <div class="col-sm-9">
        <%= f.select :length, ['1','2','3','4','5','6', '7','8','9','10'] %>  
      </div>

      <div class="col-sm-3 ">
        <%= f.label :Link, 'Link' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :link %>
      </div>

      <div class="col-sm-3 ">
        <%= f.label :password, 'Password' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :password, class: '' %>
      </div>

      <div class="col-sm-3">
        <%= f.label :description, "Brief Synopsis" %>
      </div>
      <div class="col-sm-9 ">
        <%= f.text_area :description, class: '', rows: '4', placeholder: "Tell us about your film in to lines." %>
      </div>

      <div class="col-sm-4">
        <%= f.label :preferred_month, "Preferred Month" %>
      </div>
      <div class="col-sm-9">
        <%= f.select :preferred_month, ['Any Month', 'January 2020','February 2020','March 2020','April 2020','May 2020','June 2020', 'July 2020', 'August 2020', 'September 2020', 'October 2020', 'November 2020', 'December 2020'], class: '' %>  
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-2 text-right">
        <%= f.check_box :reuse %> 
      </div>
      <div class="col-xs-10">
        <%= f.label :reuse, "Allow Curious Comedy to replay film at other events.", class: 'text-left' %>
      </div>
        
    </div>
      
    <div class="row">
      <div class="col-xs-2 text-right">
          <%= f.check_box :has_rights, class: ''%> 
        </div>
        <div class="col-xs-10">
          <%= f.label :has_rights, "You have all necessary right to play this video at Curious Comedy Theater.", class: 'text-left' %>
        </div>
      </div>

      <div class="col-sm-4 text-center top-spacer-md">
        <%= link_to "Delete Submission", @submission, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-lg btn-danger top-bump' %>
      </div>
      <div class="col-sm-4 col-sm-offset-4 text-center top-spacer-md">
        <%= f.submit "Update", class: "btn btn-primary btn-lg" %>
      </div>
    </div> 
  </div>
  <% end %>
    

  </div>

