<div class="player--title"> 
    <%= submission.title %> 
</div>
<div class="player--video">
    <div class="flex-video widescreen"><%= get_video_iframe(submission.link) %>  </div>   
</div>
<div class="player--place">
   <% if submission.winning_month %> <%= submission.winning_place %> in <%= submission.winning_month %> <%else %> Status: <%= submission.status %> <%end%>
</div>