<div class="well <%= submission.approved ? 'approved' : 'submission' %>">
    <div class="row">
    <!--TITLE-->
    <div class="col-md-7">
        <div class="text-center box simple-label">
            <h3> <%= link_to submission.title, submission %></h3>   
        </div>    
    </div>
    <div class="col-md-5 text-center simple-label">
        <h3>Details</h3>
    </div>


    </div>
    <div class="row">
        <!--PLAYER-->
        <div class="col-md-7 video_player">
            <div class="row">
                <div class="flex-video widescreen"><%= get_video_iframe(submission.link) %>  </div>   
            </div>
           
        </div>
        <div class="col-md-5 player-right">
           <!--DETAILS-->
           <div class="row sub-details">
              
               <!--POSTED BY-->
               <div class="row ">
                   <div class="col-xs-6 text-right top-bump">
                       <strong>Posted By :</strong>  
                   </div>
                   <div class="col-xs-6 text-left top-bump">
                       <%= submission.user.name %>
                   </div>
               </div>
               <!--RUNTIME-->
               <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong> Runtime :</strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.length %> Minutes
                   </div>
               </div>
               <!--PASSWORD-->
               <div class="row">
                   <div class="col-xs-6 text-right">
                        <strong> password : </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.password %> 
                   </div>
               </div>
               <!--REPLAY-->
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong> Replay :    </strong>
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.reuse ? 'Yes' : 'No' %>
                   </div>
                </div>
                
                <!--PREFERRED MONTH-->
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong> Referred Month :    </strong>
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.preferred_month %>
                   </div>
                </div>
                
                <!--STATUS-->
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong>Status : </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.status %>
                   </div>
                </div>
                
                <!--SUBMIT DATE-->
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong>Submitted: </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= time_ago_in_words(submission.created_at) %> Ago.
                   </div>
                </div>
                
               </div>
            <!--BUTTONS-->
            <div class="row pad-top">
                <%= link_to "Full Details", submission, class: 'btn btn-warning btn-block' %>
           </div>
                       <% if current_user.admin? %>
                <div class="row"> <!-- BUTTONS START-->
                    
                    
            <!-- Change Status -->
                <div class="top-bump">
                    <div class="dropdown">
                        <button class="btn btn-success btn-block dropdown-toggle" type="button" data-toggle="dropdown"><%= submission.status %>
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><%= link_to "October", submission_path(:id => submission, :status => 'oct'), method: :status_change %></li>
                            <li><%= link_to "November", submission_path(:id => submission, :status => 'nov'), method: :status_change %></li>
                            <li><%= link_to "December", submission_path(:id => submission, :status => 'dec'), method: :status_change %></li>
                            <li><%= link_to "January", submission_path(:id => submission, :status => 'jan'), method: :status_change %></li>
                            <li><%= link_to "February", submission_path(:id => submission, :status => 'feb'), method: :status_change %></li>
                            <li><%= link_to "March", submission_path(:id => submission, :status => 'mar'), method: :status_change %></li>
                            <li><%= link_to "Reject", submission_path(:id => submission, :status => 'reject'), method: :status_change %></li>
                            <li><%= link_to "Archive", submission_path(:id => submission, :status => 'archive'), method: :status_change %></li>
                            <li><%= link_to "Being Reviewed", submission_path(:id => submission, :status => 'review'), method: :status_change %></li>
                          </ul>
                    </div> 
                </div>
       
                </div>
            <% end  %>
           </div>
        </div><!--END ROW-->
                    <!--BREIF-->
            <div class="row">
        
                <div class="col-md-12 bottom-border">
                    <h4> Description : </h4>  
                </div>
                <div class="col-md-12 box top-bump">
                    
                  <p><%= submission.description %></p>
                </div>
            </div>
</div><!--END WELL-->