<div class="well <%= submission.approved ? 'approved' : 'submission' %>">
    <div class="row">
        <!--PLAYER-->
        <div class="col-md-8 video_player">
            <div class="flex-video widescreen"><%= get_video_iframe(submission.link) %>  </div>
        </div>
        <div class="col-md-4 player-right">
           <!--DETAILS-->
           <div class="row sub-details">
               <div class="row ">
                   <div class="col-xs-6 text-right">
                       <strong>Title :</strong>  
                   </div>
                  <div class="col-xs-6 text-left">
                      <%= submission.title %>
                  </div>
               </div>
               <div class="row ">
                   <div class="col-xs-6 text-right">
                       <strong>Posted By :</strong>  
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.user.name %>
                   </div>
               </div>
               <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong> Runtime :</strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.length %> Minutes
                   </div>
               </div>
               <div class="row">
                   <div class="col-xs-6 text-right">
                        <strong> password : </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.password %> 
                   </div>
               </div>
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong> Replay :    </strong>
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.reuse ? 'Yes' : 'No' %>
                   </div>
                </div>
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong>Status : </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.status %>
                   </div>
                </div>
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong>Submitted: </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= time_ago_in_words(submission.created_at) %> Ago.
                   </div>
                </div>
                <hr>
                <div class="row">
                   <div class="col-xs-6 text-right">
                        <strong> Brief : </strong>   
                   </div>
                   <div class="col-xs-6 text-left box">
                       <%= submission.description %>
                   </div>
               </div>
               </div>
            <!--BUTTONS-->
            <div class="row pad-top">
                <%= link_to "DASH BOARD", submission, class: 'btn btn-warning btn-block' %>
           </div>               
           </div>
        </div><!--END ROW-->
</div><!--END WELL-->