<div class= "well">
    <div class="row">
        <%= link_to submission do%>
            
            <div class="col-md-3 text-left">
                <h5>[ <%= submission.title%> ]</h5> 
            </div>
            <div class="col-md-3">
                <%= get_video_iframe(submission.link) %>
                Length ( <%= submission.length %> Minutes )
            </div>
            <div class="col-md-3">
                Submitted by <%= submission.user.name %> </br> 
                (<%= time_ago_in_words(submission.created_at) %> )
            </div>
            
        <% end %>
        <div class="col-md-2">
            <%if submission.approved %>
                <%= link_to "Unapprove", submission, method: :approved, data: { confirm: "You sure?" }, class: 'btn btn-success' %>
            <%else%>
                 <%= link_to "Approve", submission, method: :approved, data: { confirm: "You sure?" }, class: 'btn btn-info' %>
            <%end%>
             <%= link_to "delete", submission, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %> 
        </div>
    </div>
    <div class="row">
        <%if submission.approved %>
            approved
        <%end%>
    </div>
 
</div>


