<div class="player">
<% if current_user.admin? %>
<div class='row player--buttons'>
    <div class='col-xs-7'>
        <%= link_to "Edit", edit_submission_path(submission), class: 'btn btn-info btn-block' %>
    </div>
    <div class="col-xs-5">
        <div class="dropdown">
            <button class="btn btn-success btn-block dropdown-toggle" type="button" data-toggle="dropdown"><%= submission.status %>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><%= link_to "February 2020", submission_path(:id => submission, :status => 'February 2020'), method: :status_change %></li>
                <li><%= link_to "March 2020", submission_path(:id => submission, :status => 'March 2020'), method: :status_change %></li>
                <li><%= link_to "April 2020", submission_path(:id => submission, :status => 'April 2020'), method: :status_change %></li>
                <li><%= link_to "March 2020", submission_path(:id => submission, :status => 'March 2020'), method: :status_change %></li>
                <li><%= link_to "April 2020", submission_path(:id => submission, :status => 'April 2020'), method: :status_change %></li>
                <li><%= link_to "May 2020", submission_path(:id => submission, :status => 'May 2020'), method: :status_change %></li>
                <li><%= link_to "June 2020", submission_path(:id => submission, :status => 'June 2020'), method: :status_change %></li>
                <li><%= link_to "July 2020", submission_path(:id => submission, :status => 'July 2020'), method: :status_change %></li>
                <li><%= link_to "August 2020", submission_path(:id => submission, :status => 'August 2020'), method: :status_change %></li>
                <li><%= link_to "September 2020", submission_path(:id => submission, :status => 'September 2020'), method: :status_change %></li>
                <li><%= link_to "November 2020", submission_path(:id => submission, :status => 'November 2020'), method: :status_change %></li>
                <li><%= link_to "December 2020", submission_path(:id => submission, :status => 'December 2020'), method: :status_change %></li>
                <li><%= link_to "January 2021", submission_path(:id => submission, :status => 'January 2021'), method: :status_change %></li>
                <li class="admin--reject"><%= link_to "Reject", submission_path(:id => submission, :status => 'reject'), method: :status_change %></li>
                <li class="admin--archive"><%= link_to "Archive", submission_path(:id => submission, :status => 'archive'), method: :status_change %></li>
                <li class="admin--review"><%= link_to "Being Reviewed", submission_path(:id => submission, :status => 'review'), method: :status_change %></li>
            </ul>
        </div> 
    </div>

</div>
<% end  %>
<div class="row player--clip">
    <div class="col-md-7"> <!--PLAYER Left Side | Video -->
        <div class="player--title"> 
        <%= link_to submission.title, submission %> 
        </div>

        <div class="player--video">
        <div class="flex-video add-pad widescreen"><%= get_video_iframe(submission.link) %> </div>   
        </div>

        <div class="player--place">
        <% if submission.winning_month %> <%= submission.winning_place %> in <%= submission.winning_month %> <%else %> Status: <%= submission.status %> <%end%>
        </div>
    </div> <!-- END Left side -->

    <div class="col-md-5 player--right"><!--Player Right Side | Details-->
        <div class="row">
            <!--STATUS-->
                <div class="col-xs-4 player--info-title player--info-status">
                    Status : 
                </div>
                <div class="col-xs-8 player--info-data player--info-status">
                    <%= submission.status %>
                </div>

            <!--POSTED BY-->
                <div class="col-xs-4 player--info-title">
                    Posted By :
                </div>
                <div class="col-xs-8 player--info-data">
                    <%= submission.user.name %>
                </div>
                
            <!-- EMAIL -->
                <div class="col-xs-4 player--info-title">
                    Email : 
                </div>
                <div class="col-xs-8 player--info-data">
                    <%= submission.user.email %>
                </div>
                
            <!--RUNTIME-->
                <div class="col-xs-4 player--info-title">
                    Runtime :
                </div>
                <div class="col-xs-8 player--info-data">
                    <%= submission.length %> Minutes
                </div>
                
            <!--PASSWORD-->
                <div class="col-xs-4 player--info-title">
                    password : 
                </div>
                <div class="col-xs-8 player--info-data">
                    <%= submission.password %> &nbsp;
                </div>
                
            <!--REPLAY-->
                <div class="col-xs-4 player--info-title">
                    Replay :    
                </div>
                <div class="col-xs-8 player--info-data">
                    <%= submission.reuse ? 'Yes' : 'No' %>
                </div>
                
            <!--PREFERRED MONTH-->
                <div class="col-xs-4 player--info-title">
                    Month :
                </div>
                <div class="col-xs-8 player--info-data">
                    <%= submission.preferred_month %>
                </div>
                        
            <!--SUBMIT DATE-->
                <div class="col-xs-4 player--info-title">
                    Submitted:
                </div>
                <div class="col-xs-8 player--info-data">
                    <%= time_ago_in_words(submission.created_at) %> Ago.
                </div>

    </div> <!-- END Row -->
    
    <!--STATE-->
    <div class = 'row'>
        <% if submission.status != 'Being Reviewed' %>
            <div class="col-xs-4 player--info-title">
                Playing:
            </div>
            <div class="col-xs-8 player--info-data">
                <%= submission.status %>  
            </div>
        <%end%>
        
        <% if submission.winning_month %>
            <div class="col-xs-4 player--info-title">
                Placed:
            </div>
            <div class="col-xs-8 player--info-data">
                <%= submission.winning_place %>  in  <%= submission.winning_month %> 
            </div>
        <%end%>
        
        <% if submission.best_of_month %>
            <div class="col-xs-4 player--info-title">
                Best of:
            </div>
            <div class="col-xs-8 player--info-data">
                <%= submission.best_of_award  %> award for  <%= submission.best_of_month %> 
            </div>
        <%end%>
        </div>
        <div class='row'>
            <div class="col-md-12 player--info-description-title">
                <span class="player--details-title"> Description </span> 
            </div>
            <div class="col-md-12 player--info-description-full">
                <span class="player--details"> <%= submission.description %> </span>
            </div>
        </div>
    </div><!-- END Right side-->
</div><!-- END row-->


</div>
  

