<div class="row bottom-border">
    <div class="row">
    <!--TITLE-->
    <div class="col-md-7">
        <div class="text-center box simple-label">
            
        </div>    
    </div>
    <div class="col-md-5 text-center simple-label">
        <h3>Status: <%= submission.status %></h3>
    </div>


    </div>
    <div class="row">
        <!--PLAYER-->
        <div class="col-md-7 video_player">
            <div class="player--title"> 
                <%= link_to submission.title, submission %> 
            </div>
            <div class="player--video">
                <div class="flex-video add-pad widescreen"><%= get_video_iframe(submission.link) %>  </div>   
            </div>
            <div class="player--place">
               <% if submission.winning_month %> <%= submission.winning_place %> in <%= submission.winning_month %> <%else %> Status: <%= submission.status %> <%end%>
            </div>
            
            <!--BREIF-->
            <div class="row">
        
                <div class="col-md-12 ">
                    <span class="submission--details-title"> Description : </span>  <%= submission.description %>
                </div>

            </div>
        
        </div>
        
        <div class="col-md-5 player-right">
            <div class="well <% if submission.status == "Rejected" %> reject 
                <% elsif submission.status =="Being Reviewed" %> review
                <% else %> approved
                <%end%>">
           <!--DETAILS-->
           <div class="row ">
              
               <!--POSTED BY-->
               <div class="row ">
                   <div class="col-xs-6 text-right top-bump">
                       <strong>Posted By :</strong>  
                   </div>
                   <div class="col-xs-6 text-left top-bump">
                       <%= submission.user.name %>
                   </div>
               </div>
               
                <div class="row ">
                   <div class="col-xs-6 text-right top-bump">
                       <strong>Email :</strong>  
                   </div>
                   <div class="col-xs-6 text-left top-bump">
                       <%= submission.user.email %>
                   </div>
               </div>
              
               <!--RUNTIME-->
               <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong> Runtime :</strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.length %> Minutes
                   </div>
               </div>
               <!--PASSWORD-->
               <div class="row">
                   <div class="col-xs-6 text-right">
                        <strong> password : </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.password %> 
                   </div>
               </div>
               <!--REPLAY-->
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong> Replay :    </strong>
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.reuse ? 'Yes' : 'No' %>
                   </div>
                </div>
                
                <!--PREFERRED MONTH-->
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong> Referred Month :    </strong>
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.preferred_month %>
                   </div>
                </div>
                
                <!--STATUS-->
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong>Status : </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= submission.status %>
                   </div>
                </div>
                
                <!--SUBMIT DATE-->
                <div class="row">
                   <div class="col-xs-6 text-right">
                       <strong>Submitted: </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                       <%= time_ago_in_words(submission.created_at) %> Ago.
                   </div>
                </div>
            
                
               </div>
                <!--Winnings-->
                <% if submission.status != 'Being Reviewed' %>
                <div class="row submission--bg-highlight">
                   <div class="col-xs-6 text-right">
                       <strong>Playing: </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                        <%= submission.status %>  
                       
                   </div>
                </div>
                <%end%>
                
                <% if submission.winning_month %>
                <div class="row submission--bg-highlight">
                   <div class="col-xs-6 text-right">
                       <strong>Placed: </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                        <%= submission.winning_place %>  in  <%= submission.winning_month %> 
                   </div>
                </div>
                <%end%>
                
                <% if submission.best_of_month %>
                <div class="row submission--bg-highlight">
                   <div class="col-xs-6 text-right">
                       <strong>Best of Award: </strong> 
                   </div>
                   <div class="col-xs-6 text-left">
                        <%= submission.best_of_award  %> award for  <%= submission.best_of_month %> 
                   </div>
                </div>
                <%end%>
            <!--BUTTONS-->
            <div class="row pad-top">
                <%= link_to "Full Details", submission, class: 'btn btn-warning btn-block' %>
            </div>
            <% if current_user.admin? %>
                
                <div class="row"> <!-- BUTTONS START-->
                <%= link_to "Edit", edit_submission_path(submission), class: 'btn btn-info btn-block' %>
            <!-- Change Status -->
                <div class="top-bump">
                    <div class="dropdown">
                        <button class="btn btn-success btn-block dropdown-toggle" type="button" data-toggle="dropdown"><%= submission.status %>
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><%= link_to "October", submission_path(:id => submission, :status => 'oct'), method: :status_change %></li>
                            <li><%= link_to "November", submission_path(:id => submission, :status => 'nov'), method: :status_change %></li>
                            <li><%= link_to "December", submission_path(:id => submission, :status => 'dec'), method: :status_change %></li>
                            <li><%= link_to "January", submission_path(:id => submission, :status => 'jan'), method: :status_change %></li>
                            <li><%= link_to "February", submission_path(:id => submission, :status => 'feb'), method: :status_change %></li>
                            <li><%= link_to "March", submission_path(:id => submission, :status => 'mar'), method: :status_change %></li>
                            <li><%= link_to "April", submission_path(:id => submission, :status => 'apr'), method: :status_change %></li>
                            <li><%= link_to "May", submission_path(:id => submission, :status => 'may'), method: :status_change %></li>
                            <li><%= link_to "June", submission_path(:id => submission, :status => 'jun'), method: :status_change %></li>
                            <li><%= link_to "July", submission_path(:id => submission, :status => 'jul'), method: :status_change %></li>
                            <li><%= link_to "August", submission_path(:id => submission, :status => 'aug'), method: :status_change %></li>
                            <li><%= link_to "September", submission_path(:id => submission, :status => 'sep'), method: :status_change %></li>
                            <li><%= link_to "October 2019", submission_path(:id => submission, :status => 'oct2019'), method: :status_change %></li>
                            <li><%= link_to "November 2019", submission_path(:id => submission, :status => 'nov2019'), method: :status_change %></li>
                            <li><%= link_to "December 2019", submission_path(:id => submission, :status => 'Dec2019'), method: :status_change %></li>
                            <li><%= link_to "January 2020", submission_path(:id => submission, :status => 'Jan2020'), method: :status_change %></li>
                            <li class="admin--reject"><%= link_to "Reject", submission_path(:id => submission, :status => 'reject'), method: :status_change %></li>
                            <li class="admin--archive"><%= link_to "Archive", submission_path(:id => submission, :status => 'archive'), method: :status_change %></li>
                            <li class="admin--review"><%= link_to "Being Reviewed", submission_path(:id => submission, :status => 'review'), method: :status_change %></li>
                          </ul>
                    </div> 
                </div>
       
                </div>
            <% end  %>
           </div>
           </div><!--END WELL-->
        </div><!--END ROW-->
            
</div>