<div class=row>
    <%= @submission.title %>    
</div>

<div class="row">
    <%= @submission.length %>    
</div>
<div class="row">
    <%= @submission.contact %>    
</div>
<div class="row">
    <%= @submission.description %>
</div>
<div class="row">
    <%= @submission.reuse %>    
</div>
    <%= @submission.user %>
