<div class="well <% if @submission.status == "Rejected" %> reject 
                <% elsif @submission.status =="Being Reviewed" %> review
                <% else %> approved
                <%end%>"> 
    <div class="row"> <!--TITLE START-->
      <div class="col-md-7 text-center">
          <h3><%= @submission.title %></h3> 
      </div>  
      <div class="col-md-5 text-center">
          <h3>Status : <%= @submission.status %></h3>
      </div>
    </div><!--TITLE END-->
    
    
    <div class="row"><!--CONTENT START -->
    
        <div class="col-md-7"><!-- Video Player Start-->
            <div class="flex-video widescreen"><%= get_video_iframe(@submission.link) %> </div>
        </div> <!-- Video Player End -->
        
        <div class="col-md-5"><!-- Video Details Start-->
            <!--USER NAME-->
            <div class="row">
                <div class="col-xs-4 text-right simple-label">
                    User :
                </div>
                 <div class="col-xs-8 text-left simple-label">
                     <%= link_to @user.name, @user %> 
                 </div> 
            </div>
            
            <!--EMAIL-->
            <div class="row">
                <div class="col-xs-4 text-right simple-label">
                    Email : 
                </div>
                <div class="col-xs-8 simple-label text-left">
                    <%= mail_to @user.email %>    
                </div>
            </div>
            
            <!--RUN TIME-->
            <div class="row">
                <div class="col-xs-4 text-right simple-label">
                    length : 
                </div>
                <div class="col-xs-8 text-left simple-label">
                    <%= @submission.length %> Minutes
                </div>
            </div>
            
            <!--LINK-->
            <div class="row">
                <div class="col-xs-4 text-right simple-label">
                    Link : 
                </div>
                <div class="col-xs-8 text-left simple-label">
                    <a href= "<%= @submission.link %>" target = "blank"><%= @submission.title %> </a>  
                </div>
            </div>
            
            
            <!--Re-Play True-->
            <div class="row">
                <div class="col-xs-4 text-right simple-label">
                    Re-Play :  
                </div>
                <div class="col-xs-8 text-left simple-label">
                    <%= @submission.reuse %>
                </div>
            </div>
            
            <!-- Preferred Month -->
            <div class="row">
                <div class="col-xs-4 text-right simple-label">
                    Preferred :  
                </div>
                <div class="col-xs-8 text-left simple-label">
                  <%= @submission.preferred_month %>
                </div>
            </div>
            
            <!-- Status -->
        
            <div class="row">
                <div class="col-xs-4 text-right simple-label">
                    Status :  
                </div>
                <div class="col-xs-8 text-left simple-label">
                    <%= @submission.status %>
                </div>
            </div>
            
            <% if @submission.status == 'Rejected'%>
                <div class="row">
                    <div class="col-xs-4 text-right simple-label">
                        reason :  
                    </div>
                    <div class="col-xs-8 text-left simple-label">
                        <%= @submission.reason %>
                    </div>
                </div>
            <% end %>

            <hr>
        <div class="row">
             <!-- Edit -->
                <div class="top-bump">
                    <%= link_to "EDIT", edit_submission_path, class: "btn btn-info btn-block" %>   
                </div>
        </div>
            <% if current_user.admin? %>
                <div class="row"> <!-- BUTTONS START-->
                    
                    
                        <!-- Change Status -->
                            <div class="top-bump">
                                <div class="dropdown">
                                    <button class="btn btn-success btn-block dropdown-toggle" type="button" data-toggle="dropdown"><%= @submission.status %>
                                      <span class="caret"></span></button>
                                      <ul class="dropdown-menu">
                                        <li><%= link_to "01 October", submission_path(:status => 'oct'), method: :status_change %></li>
                                        <li><%= link_to "02 November", submission_path(:status => 'nov'), method: :status_change %></li>
                                        <li><%= link_to "03 December", submission_path(:status => 'dec'), method: :status_change %></li>
                                        <li><%= link_to "04 January", submission_path(:status => 'jan'), method: :status_change %></li>
                                        <li><%= link_to "05 February", submission_path(:status => 'feb'), method: :status_change %></li>
                                        <li><%= link_to "06 March", submission_path(:status => 'mar'), method: :status_change %></li>
                                        <li><%= link_to "07 April", submission_path(:status => 'apr'), method: :status_change %></li>
                                        <li><%= link_to "08 May", submission_path(:status => 'may'), method: :status_change %></li>
                                        <li><%= link_to "09 June", submission_path(:status => 'jun'), method: :status_change %></li>
                                        <li><%= link_to "10 July", submission_path(:status => 'jul'), method: :status_change %></li>
                                        <li><%= link_to "11 August", submission_path(:status => 'aug'), method: :status_change %></li>
                                        <li><%= link_to "12 September", submission_path(:status => 'sep'), method: :status_change %></li>
                                        <li><%= link_to "Reject", submission_path(:status => 'reject'), method: :status_change %></li>
                                        <li><%= link_to "Archive", submission_path(:status => 'archive'), method: :status_change %></li>
                                        <li><%= link_to "Being Reviewed", submission_path(:status => 'review'), method: :status_change %></li>
                                      </ul>
                                </div> 
                            </div>
                   
                </div>
            <% end  %>
        </div><!-- Video Details End-->
        
        </div>
        <div class="row ">
            <div class="col-xs-12 text-left bottom-border ">
               <h4> Description : </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-left box top-bump">
              <p>  <%= @submission.description %> </p>
            </div>
        </div>
        
        
    </div><!--END WELL-->
    


