<!DOCTYPE html>
<html>
  <head>
    <title>Portland's Funniest Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="Description" content="A free monthly short film competition that lets the audience decided which film is the funniest. Monthly winners are entered into the best of competition where Portland's Funniest Video is actually picked. ">
    <meta name="Keywords" content="Film, shorts, comedy, film fest, competition, portland, pdx, short film, filmmaking, filmmakers, theater, curious comedy, funny, laugh, screening. ">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  </head>

  <body>
    <nav>
      <%= render 'shared/navbar' %>
    </nav>
    <main>

      <div class="container-fluid">
      <%# Alter Message  %>
      <% flash.each do |message_type, message| %>
        <div class="alert--box">
          <%= content_tag(:div, message, class: "home--top alert--message alert-#{message_type}") %> 
        </div>
      <% end %>

      <div class="row ">
        <%# Admin Bar %>
        <% if logged_in? && current_user.admin? %>
          <div class="admin-container col-md-3">
            <%= render '/shared/admin_view'%>
          </div>
          <%# Mak col with no offset if Admin  %>
          <div class = "col-md-8">      
        <% else %>
          <%# Make col with offset if not Admin  %>
          <div class = "col-md-10 col-md-offset-1">      
        <% end %>
         <%= yield %>
        </div>
        </div>
        <div class="row">
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div> <!-- End Containter -->
     </main>
  </body>
</html>
